.dashboardContainer {
    display: flex;

    .contentContainer {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            margin-left: 0;
        }
    }
}