@import '../../../assets/sass/index.scss';

.timeSeriesChartContainer {
    margin-top: 3em;
    @include fadeInAnimation;
    > canvas {
        height: 40em;
        margin-top: 2em;
    }

    .actionButtonContainer {
        display: flex;
    }
}