@import '../../../assets/sass/index.scss';

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    > div {
        border: 1px solid $primaryButtonBorderColorLightTheme;
        padding: 2em;

        form > div > div {
            &:first-child {
                padding-right: 1em;
            }
        }

        .formEmailInput {
            padding: 0 !important;
            width: 100%;
        }

        button {
            margin: 0 0 1em 0;
        }
    }
}