@import '../../assets/sass/index.scss';

.sidebarContainer {
    height: 100vh;
    width: 7vw;
    background: $primarySidebarColorLightTheme;
    box-shadow: 0.7em 0 2em -0.3em #888;

    .iconContainer {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 2em;
        
        .icon {
            margin-bottom: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;

            > label {
                margin-top: 0.8em;
            }

            &:hover {
                cursor: pointer;
                > label {
                    text-decoration: underline;
                }
            }
        }
    }
}