@import '../../../assets/sass/index.scss';

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include fadeInAnimation;

    > div {
        border: 1px solid $primaryButtonBorderColorLightTheme;
        border-radius: 1em;
        padding: 2em;
        background: $whiteColor;

        form {
            width: 100%;
        }
    }
    button {
        margin: 0 0 1em 0;
    }
}