@import '../../assets/sass/index.scss';

.button {
    padding: 1em;
    width: 100%;
    background: $primaryButtonColorLightTheme;
    border: 1px solid $primaryButtonColorLightTheme;
    color: white;
    margin: 1em;
}