@import '../../assets/sass/index.scss';

.cardContainer {
    display: flex;
    margin: 1em;
    padding: 1em;
    border-radius: 0.7em;
    box-shadow: 0 0 0.5em -0.2em $blackColor;
    cursor: pointer;
    background: $whiteColor;
    @include fadeInAnimation;

    &:hover {
        box-shadow: 0 0 0.6em -0.2em $blackColor;
        text-decoration: underline;
        transition: 0.2s;
    }
}